<section class='titleContainer'>
    <h2>earphones</h2>
</section>
<app-product-container
[nameContainer] = '"yx1-earphones"'
[title]='"YX1 WIRELESS EARPHONES"'
[description]= '"Tailor your listening experience with bespoke dynamic drivers from the new YX1 Wireless Earphones. Enjoy incredible high-fidelity sound even in noisy environments with its active noise cancellation feature."'
></app-product-container>
<section class='ProductsContainer'>
    <app-card-select-menu
    [datafirst]='"headphones"'
    ></app-card-select-menu>
    <app-card-select-menu
    [datafirst]='"speakers"'
    ></app-card-select-menu>
    <app-card-select-menu
    [datafirst]='"earphones"'
    ></app-card-select-menu>
</section>
<app-banner></app-banner>