<header>
  <section class='Container'>
    <div>
      <mat-icon class='menuIcon' *ngIf='!MenuHidden' (click)='changeMenu()'>menu</mat-icon>
      <mat-icon class='menuIcon' *ngIf='MenuHidden' (click)='changeMenu()'>close</mat-icon>
      <a routerLink='/' class='LogoContainer'>
        <img src='./assets/images/logo.svg' />
      </a>
    </div>
    <div>
      <nav>
        <div>
          <a routerLink='/home' routerLinkActive='active'>Home</a>
          <a routerLink='/headphones' routerLinkActive='active'>Headphones</a>
          <a routerLink='/speakers' routerLinkActive='active'>Speakers</a>
          <a routerLink='/earphones' routerLinkActive='active'>Earphones</a>
        </div>
        <div>
          <a 
          class="SignUp" 
          routerLink='/signUp'
          *ngIf='!Auth'
          >Sign Up</a>
          <a 
          class="Login" 
          routerLink='/login'
          *ngIf='!Auth'
          >Login</a>
          <a
          class="SignUp"
          routerLink='/orders' 
          *ngIf='Auth'
          >Orders</a>
          <a
          class="Login" 
          *ngIf='Auth'
          (click)='closeAccount()'
          >Long Out</a>
        </div>

      </nav>
      <button class='ButtonShopping' mat-raised-button (click)="openBottomSheet()">
        <mat-icon matBadge="{{count}}" matBadgeColor="warn">shopping_cart</mat-icon>
      </button>
    </div>
  </section>
</header>
<section class='MenuContainer' *ngIf='MenuHidden'>
  <a 
  (click)="clickMenu()" 
  routerLink='/signUp'
  *ngIf='!Auth'
  >Sign Up</a>
  <a 
  (click)="clickMenu()" 
  routerLink='/login'
  *ngIf='!Auth'
  >Login</a>
  <a
  class="Login"
  routerLink='/orders' 
  *ngIf='Auth'
  >Orders</a>
  <a
  class="Login" 
  *ngIf='Auth'
  (click)='closeAccount()'
  >Long Out</a>
  <div>
    <app-card-select-menu [datafirst]='"headphones"'></app-card-select-menu>
    <app-card-select-menu [datafirst]='"speakers"'></app-card-select-menu>
    <app-card-select-menu [datafirst]='"earphones"'></app-card-select-menu>
  </div>
  <app-menu-crad-animations></app-menu-crad-animations>
</section>
