<section class='titleContainer'>
    <h2>speakers</h2>
</section>
<app-product-container
[nameContainer] = '"zx9"'
[title]='"ZX9 SPEAKER"'
[description]= '"Upgrade your sound system with the all new ZX9 active speaker. It’s a bookshelf speaker system that offers truly wireless connectivity -- creating new possibilities for more pleasing and practical audio setups."'
[newProduct] = true
[link]='"/speakers/zx9"'
></app-product-container>
<app-product-container
[nameContainer] = '"zx7"'
[title]='"ZX7 SPEAKER"'
[description]= '"Stream high quality sound wirelessly with minimal loss. The ZX7 bookshelf speaker uses high-end audiophile components that represents the top of the line powered speakers for home or studio use."'
[link]='"/speakers/zx7"'
></app-product-container>
<section class='ProductsContainer'>
    <app-card-select-menu
    [datafirst]='"headphones"'
    ></app-card-select-menu>
    <app-card-select-menu
    [datafirst]='"speakers"'
    ></app-card-select-menu>
    <app-card-select-menu
    [datafirst]='"earphones"'
    ></app-card-select-menu>
</section>
<app-banner></app-banner>