<section class='titleContainer'>
    <h2>headphones</h2>
</section>
<app-product-container
[nameContainer] = '"xx99-mark-two"'
[title]='"XX99 MARK II HEADPHONES"'
[description]= '"The new XX99 Mark II headphones is the pinnacle of pristine audio. It redefines your premium headphone experience by reproducing the balanced depth and precision of studio-quality sound."'
[newProduct] = true
[link]='"/headphones/xx99-marck-two"'
></app-product-container>
<app-product-container
[nameContainer] = '"xx59"'
[title]='"XX59 HEADPHONES"'
[description]= '"Enjoy your audio almost anywhere and customize it to your specific tastes with the XX59 headphones. The stylish yet durable versatile wireless headset is a brilliant companion at home or on the move."'
[link]='"/headphones/xx59"'
></app-product-container>
<app-product-container
[nameContainer] = '"xx99-mark-one"'
[title]='"XX99 MARK I HEADPHONES"'
[description]= '"As the gold standard for headphones, the classic XX99 Mark I offers detailed and accurate audio reproduction for audiophiles, mixing engineers, and music aficionados alike in studios and on the go."'
[link]='"/headphones/xx99-mark-one"'
></app-product-container>
<section class='ProductsContainer'>
    <app-card-select-menu
    [datafirst]='"headphones"'
    ></app-card-select-menu>
    <app-card-select-menu
    [datafirst]='"speakers"'
    ></app-card-select-menu>
    <app-card-select-menu
    [datafirst]='"earphones"'
    ></app-card-select-menu>
</section>
<app-banner></app-banner>