<section>
    <a
    routerLink='/home'
    >Go Back</a>
    <form
    [formGroup]="form"
    >
        <h2>Checkout</h2>
        <div>
          <h3>Billing Details</h3>
          <div class="Container">
            <mat-form-field class="example-full-width shortInput" appearance="fill">
                <mat-label>Name</mat-label>
                <input type="name" formControlName='name' matInput  placeholder="Name">
            </mat-form-field>
            <mat-form-field class="example-full-width shortInput" appearance="fill">
              <mat-label>Email</mat-label>
              <input type="email" matInput  placeholder="Ex. pat@example.com" formControlName='email'>
          </mat-form-field>
          <mat-form-field class="example-full-width shortInput" appearance="fill">
            <mat-label>Phone Number</mat-label>
            <input type="number" matInput  placeholder="Phone Number" formControlName='phone'>
        </mat-form-field>
      </div>
        </div>
        <div>
          <h3>SHIPPING INFO</h3>
          <div class="Container">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Your Address</mat-label>
                <input type="text" matInput  placeholder="Your Address" formControlName='address'>
            </mat-form-field>
            <mat-form-field class="example-full-width shortInput" appearance="fill">
              <mat-label>ZIP Code</mat-label>
              <input type="number" matInput  placeholder="ZIP Code" formControlName='zip'>
          </mat-form-field>
          <mat-form-field class="example-full-width shortInput" appearance="fill">
            <mat-label>City</mat-label>
            <input type="text" matInput  placeholder="City" formControlName='city'>
        </mat-form-field>
        <mat-form-field class="example-full-width shortInput" appearance="fill">
          <mat-label>Country</mat-label>
          <input type="text" matInput  placeholder="Country" formControlName='country'>
        </mat-form-field>
      </div>
      </div>
        <div>
          <h3>PAYMENT DETAILS</h3>
          <div class="Container">
            <p>Payment Method</p>
            <mat-radio-group aria-label="Select an option">
              <mat-radio-button value='1' (click)='seclectPay("money")'>e-Money</mat-radio-button>
              <mat-radio-button value='2' (click)='seclectPay("pin")'>Cash On <span>Delivery</span></mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
          <div
          *ngIf='methodPay === "money"' 
          class="containerInformation">
            <img src="./assets/images/cash.svg" alt="cash">
            <p>
              The ‘Cash on Delivery’ option enables you to pay in cash when our delivery courier arrives at your residence. Just make sure your address is correct so that your order will not be cancelled.</p>
          </div>
          <div 
          *ngIf='methodPay === "pin"' 
          class="containerInformation">
            <mat-form-field class="example-full-width shortInput" appearance="fill">
              <mat-label>e-Money Number</mat-label>
              <input type="number" matInput  placeholder="e-Money Number">
          </mat-form-field>
          <mat-form-field class="example-full-width shortInput" appearance="fill">
            <mat-label>e-Money PIN</mat-label>
            <input type="number" matInput  placeholder="e-Money PIN">
        </mat-form-field>
          </div>
          <div class="title">
            <h2>Cart ({{count}})</h2>
          </div>
    </form>
    <div mat-list-item class="ContainerItem" *ngFor='let item of cartProduct'>
      <div class="container">
        <img src="./assets/images/cart/{{item.name}}.jpg" alt="product" />
        <div class="description">
          <h2>{{item.title}}</h2>
          <p>$ {{item.price}}</p>
        </div>
      </div>
      <div class="buyButtons">
        <div>
          <button (click)='plusProduct({
            sign: "minus",
            actual: item.count,
            name: item.name
          })'>-</button>
          <p>{{item.count}}</p>
          <button (click)='plusProduct({
            sign: "plus",
            actual: item.count,
            name: item.name
          })'>+</button>
        </div>
      </div>
    </div>
    <div class="payment">
      <h2>Total</h2>
      <p>$<span>{{price}}</span></p>
    </div>
    <button 
    class="buttonPay" 
    (click)='openDialog()'>Continue & Pay</button>
    <p 
    class="errorMsg"
    *ngIf='error'>All fields are required</p>
</section>
