section{
    width: 90%;
    margin: 0 auto;
    padding-block: 25px;
    max-width: 765px;
    a{
        color: black;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1rem;
    }
    form{
        h2{
            text-align: center;
            text-transform: uppercase;
            font-size: 2rem;
            letter-spacing: 2px;
        }
        .containerInformation{
            display: flex;
            justify-content: space-between;
            margin-top: 50px;
            img{
                margin-right: 15px;
            }
            mat-form-field{
                width: 100%;
                max-width: 300px;
            }
        }
        .title{
            h2{
                font-size: 1.5rem;
            }
        }
        div{
            margin-inline: 25px;
            .Container{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                margin: 0px;
                p{
                    font-weight: 500;
                }
                mat-form-field {
                    width: 100%;
                    max-width: 694px;
                }
                .shortInput{
                    max-width: 300px;
                    margin-right: 20px;
                }    
                mat-radio-group{
                    mat-radio-button{
                        display: block;
                        margin-block: 15px;
                    }
                }     
            }
            h3{
                font-size: 1.1rem;
                text-transform: uppercase;
                color: #d87d4a;
            }
        }
    }
}
.ContainerItem{
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    margin-bottom: 35px;
    .container{
        img{
            width: 80px;
            margin-right: 10px;
        }
        width: 90%;
        margin: 0 auto;
        display: flex;
        .description{
            display: flex;
            flex-direction: column;
        }
    }
    @media (min-width: 600px){
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.payment{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    h2{
        color: #A8A8A8;
    }
    p{
        font-size: 1.2rem;
        font-weight: 600;
    }
}
.checkout{
    margin: 0 auto;
    background: #d87d4a;
    color: white;
    padding: 10px;
    text-transform: uppercase;
    font-weight: inherit;
    letter-spacing: 5px;
}
.buyButtons{
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    flex-wrap: wrap;
    div{
        background: #F1F1F1;
        display: flex;
        width: 100px;
        height: 35px;
        align-items: center;
        margin-inline:10px ;
        p{
            opacity: 1;
            font-weight: 500;
            margin: 0px;
        }
        button{
            height: 100%;
            border: none;
            background: none;
            color: black;
            cursor: pointer;
        }
        button:last-child{
            color: #d87d4a;
        }
    }
    button{
        background: #d87d4a;
        text-transform: uppercase;
        color: white;
        border: none;
        padding-inline: 20px;
        font-weight: 600;
        letter-spacing: 1px;
        font-size: .8rem;
        cursor: pointer;
    }
    @media (min-width: 400px){
        justify-content: end;
    }
}
.buttonPay{
    width: 100%;
    padding: 10px;
    font-size: 1.1rem;
    background: #d87d4a;
    border: none;
    cursor: pointer;
    color: white;
}