<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Order
        </mat-panel-title>
        <mat-panel-description>
          <p>{{item.date | date}}</p>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div>
      <div 
      *ngFor="let element of item.products"
      class="container">
        <img src='./assets/images/cart/{{element.name}}.jpg' alt='product'/>
        <div>
            <h2>{{element.title}}</h2>
            <p>Price <span>$ {{element.price}}</span></p>
            <p>Quantity <span>x{{element.count}}</span></p>
        </div>
      </div>
      <div class="ContainerGeneral">
        <h2>Grand total</h2>
        <p>$ {{item.price}}</p>
      </div>
    </div>
    </mat-expansion-panel>
  </mat-accordion>