h2{
    font-size: 2.1rem;
    width: 210px;
    margin: 20px auto;
    line-height: 40px;
    text-align: center;
}
section{
    width: 90%;
    margin: 0 auto;
    a{
        color: black;
        text-decoration: none;
        font-size: 1rem;
    }
    .headphonesMain{
        img{
            width: 100%;
            border-radius: 15px;
        }
        div{
            .NewProduct{
                text-align: center;
                color: #d87d4a;
                opacity: 1;
                font-size: 14px;
                font-weight: 400;
                font-stretch: normal;
                letter-spacing: 10px;
                text-transform: uppercase;
                margin-top: 35px;
            }
            p{
                width: 80%;
                margin: 0 auto;
                font-size: 1rem;
                opacity: .7;
                font-weight: 100;
                max-width: 500px;
                text-align: justify;
            }
            .price{
                opacity: 1;
                font-size: 1.2rem;
                font-weight: 500;
                text-align: inherit;
                margin-block: 30px;
            
            }
            .buyButtons{
                display: flex;
                justify-content: space-between;
                div{
                    background: #F1F1F1;
                    display: flex;
                    width: 30%;
                    height: 35px;
                    align-items: center;
                    p{
                        opacity: 1;
                        font-weight: 500;
                    }
                    button{
                        height: 100%;
                        border: none;
                        background: none;
                        color: black;
                        cursor: pointer;
                    }
                    button:last-child{
                        color: #d87d4a;
                    }
                }
                button{
                    background: #d87d4a;
                    text-transform: uppercase;
                    color: white;
                    border: none;
                    padding-inline: 20px;
                    font-weight: 600;
                    letter-spacing: 1px;
                    font-size: .8rem;
                    cursor: pointer;
                }
            }
        }
    }
    .features{
        margin-block: 70px;
        p{
            width: 80%;
            margin: 50px auto;
            font-size: 1rem;
            opacity: .7;
            font-weight: 100;
            text-align: center;
            max-width: 500px;
            text-align: justify;
        }
    }
    .box{

    }
}