<footer>
    <section>
    <div class="Container">
        <h2>audiophile</h2>
        <nav>
            <a>home</a>
            <a>Headphones</a>
            <a>Speakers</a>
            <a>Earphones</a>
        </nav>
        <p>Audiophile is an all in one stop to fulfill your audio needs. We're a small team of music lovers and sound specialists who are devoted to helping you get the most out of personal audio. Come and visit our demo facility - we’re open 7 days a week.</p>
        <p class="Copyright">Copyright 2021. All Rights Reserved</p>
    </div>
    <div class='SocialContainer'>
        <img src='./assets/images/shared/desktop/icon-facebook.svg' alt='Facebook Icon'/>
        <img src='./assets/images/shared/desktop/icon-twitter.svg'  alt='Twiter Icon'/>
        <img src='./assets/images/shared/desktop/icon-instagram.svg'  alt='Instagram Icon'/>
    </div>
</section>
</footer>
