<section class='title'>
    <h2>Login</h2>
</section>
<section class="container">
  <div class='containerBackground'>
    <div class="example-container">
      <p>
        <mat-form-field appearance="legacy">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Placeholder">
          <mat-icon matSuffix>email</mat-icon>
          <mat-hint>Email</mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="legacy">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Placeholder">
          <mat-icon matSuffix>lock</mat-icon>
          <mat-hint>Password</mat-hint>
        </mat-form-field>
      </p>
    </div>
    <button>Login</button>
    <p>Don't have an account? <a routerLink='/signUp'>Sign Up Now</a></p>
    </div>
</section>