<mat-tab-group animationDuration="2000ms">
    <mat-tab label="Headphones">
        <div class="container">
            <app-card-select-menu
            [datafirst]='"headphones"'
            ></app-card-select-menu>
        </div>
    </mat-tab>
    <mat-tab label="Speakers">
        <div class="container">
            <app-card-select-menu
            [datafirst]='"speakers"'
            ></app-card-select-menu>
        </div>
    </mat-tab>
    <mat-tab label="Earphones">
        <div class="container">
            <app-card-select-menu
            [datafirst]='"earphones"'
            ></app-card-select-menu>
        </div>
    </mat-tab>
</mat-tab-group>